body{
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom:5%;
    
}
/* Estilos adicionales para mejorar la apariencia */
.table {
    font-size: 0.9rem;
}
.table th {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.table td {
    vertical-align: middle !important;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}


